<section id="one" class="wrapper style1 special">
  <div  class="containersS">
    <header class="major">
      <h2>Создайте решение</h2>
    </header>
    <form (ngSubmit)="decisionForm.reset()" #decisionForm="ngForm">
      <div class="smallContainer">
        <input type="text" name="name" id="name" (blur)="checkDecisionName()" (input)="clearDecisionErrorMEssage()"
               [(ngModel)]="decision.name" placeholder="Название решения"/>
      </div>
      <br>
      <p><span class="alert" style="color: red">{{decisionErrorMessage}}</span></p>
      <div *ngIf="isUserAuth" class="smallContainer">
        <input type="text" name="name" id="name" (blur)="checkDecisionUrl()" (input)="clearDecisionUrlErrorMEssage()"
               [(ngModel)]="decision.url" placeholder="Вставьте url"/>
               <br>
               <p><span class="alert" style="color: red">{{decisionUrlErrorMessage}}</span></p>
      </div>
     
      <div class="smallContainer">
        <textarea name="message" id="message" [(ngModel)]="decision.note" placeholder="Комментарий" rows="6"></textarea>
      </div>
      <p></p>
      <div id='loader'></div>
      <button class="button big" type="submit" [disabled]="isLoaderView" (click)="goNext()">
        {{buttonName}}
      </button>
    </form>
  </div>
  <h1 *ngIf="isLoaderView"><div id="spin-loader"></div></h1>
</section>
