<div class="example-container mat-elevation-z8">
  <div class="example-header">
    <mat-input-container floatPlaceholder="never">
      <input matInput #filter placeholder="Поиск">
    </mat-input-container>
  </div>

  <mat-table #table [dataSource]="dataSource" matSort>

    <!--<ng-container cdkColumnDef="decisionId">
      <mat-header-cell *cdkHeaderCellDef mat-sort-header> ID </mat-header-cell>
      <mat-cell *cdkCellDef="let row"> {{row.id}} </mat-cell>
    </ng-container>-->

    <ng-container cdkColumnDef="decisionName">
      <mat-header-cell *cdkHeaderCellDef mat-sort-header> Название решения </mat-header-cell>
      <mat-cell *cdkCellDef="let row"> {{row.name}} </mat-cell>
    </ng-container>

    <ng-container cdkColumnDef="createDate">
      <mat-header-cell *cdkHeaderCellDef mat-sort-header> Дата создания решения </mat-header-cell>
      <mat-cell *cdkCellDef="let row"> {{row.dateCreate | date: 'dd.MM.yyyy'}} </mat-cell>
    </ng-container>
    <ng-container cdkColumnDef="alternatives">
      <mat-header-cell *cdkHeaderCellDef mat-sort-header> Альтернативы: </mat-header-cell>
      <mat-cell *cdkCellDef="let row"> {{getAlternativeNames(row.alternativeArray)}} </mat-cell>
    </ng-container>
    <ng-container cdkColumnDef="criterion">
      <mat-header-cell *cdkHeaderCellDef mat-sort-header> Критерии: </mat-header-cell>
      <mat-cell *cdkCellDef="let row">
          <div *ngIf="row?.alternativeArray && row.alternativeArray[0]?.criteriaArray; else elseBlock"> {{getCriteriaNames(row.alternativeArray[0].criteriaArray)}} </div>
          <ng-template #elseBlock> 0 </ng-template>
      </mat-cell>
    </ng-container>

    <ng-container cdkColumnDef="note">
      <mat-header-cell *cdkHeaderCellDef mat-sort-header> Комментарий </mat-header-cell>
      <mat-cell *cdkCellDef="let row"> {{row.note}} </mat-cell>
    </ng-container>

    <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *cdkRowDef="let row; columns: displayedColumns;"
            (click)="onSelect(row)">
    </mat-row>
  </mat-table>

  <mat-paginator #paginator
                [length]="decisionData.data.length"
                [pageIndex]="0"
                [pageSize]="25"
                [pageSizeOptions]="[5, 10, 25, 100]">
  </mat-paginator>
</div>
