<div class="form-signup">
  <label for="fullname">Имя</label>
  <input class="form-styling" type="text" [(ngModel)]="user.username" placeholder=""/>
  <div class="alert" style=" left: 50px;color: red">{{nameMessage}}</div>
  <label for="email">Адрес электронной почты</label>
  <input class="form-styling" type="text" [(ngModel)]="user.email" placeholder=""/>
  <div class="alert" style=" left: 50px;color: red">{{emailMessage}}</div>
  <label for="password">Пароль</label>
  <input class="form-styling" type="password" [(ngModel)]="user.password" placeholder=""/>
  <div class="alert" style=" left: 50px;color: red">{{passwordMessage}}</div>
  <label for="confirmpassword">Потвредите пароль</label>
  <input class="form-styling" type="password" [(ngModel)]="passwordConfirm" placeholder=""/>
  <div class="alert" style=" left: 50px;color: red">{{confirmPasswordMessage}}</div>
  <div class="alert" style=" left: 50px;color: red">{{errorMessage}}</div>
  <div class="modal-footer">
    <button  type="button" class="btn-default btn"  (click)="register()" data-dismiss="modal">Регистрация</button>
  </div>
</div>
        