<div class="container-fluid fil-value">
  <div class="fil-value-margin">
    <br>

    <mat-expansion-panel (opened)="panelOpenState = false"
                         (closed)="panelOpenState = true">
      <mat-expansion-panel-header>
        <div class="fil-value-margin">
          {{panelOpenState ? 'Инструкция' : 'Инструкция'}}
        </div>
      </mat-expansion-panel-header>

    <h3>
      Необходимо заполнить значения критериев <br>
      Значения критериев нужно вводить в одних единицах измерения. <br>
      Если ВАЖНО минимальное значение, нужно отметить критерий в левом столбце. <br>
    </h3>

    </mat-expansion-panel>
  </div>
  <br>
  <br>
  <div class="fil-value-margin" *ngIf="decision">
  <table  class="crit-table">
    <thead>
    <tr>
      <th>Важно минимальное значение</th>
      <th></th>
      <th *ngFor="let alternative of decision.alternativeArray">{{ alternative.name }}</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let number of decision.alternativeArray[0].criteriaArray; index as i">
      <th>
        <mat-checkbox [disabled]="disabled[i]" [(ngModel)]="minRate[i]" id={{i}}></mat-checkbox>
      </th>
      <th> {{number.name}}</th>
      <th *ngFor="let alternative of decision.alternativeArray">
        <mat-input-container class="example-full-width" style="margin-left:20px;margin-right:20px;width:100px;">
          <input matInput (input)="checkForLetters(alternative.criteriaArray[i].id)"
                 [(ngModel)]="alternative.criteriaArray[i].value" id={{alternative.criteriaArray[i].id}} required>
        </mat-input-container>
      </th>
    </tr>
    </tbody>
  </table>
  <br>
    <div class="btns">
      <button class="button" (click)="goCreateCriterion()" [disabled]="!decision || isLoaderView">Добавить критерий</button>
      <button class="button" (click)="goCreateAlternative()" [disabled]="!decision || isLoaderView">Добавить альтернативу</button>
    </div>
    <div class="btns-next">
      <button class="button" (click)="goNext()" [disabled]="!decision || isLoaderView">Далее</button>
    </div>
  </div>
</div>
<h1 *ngIf="!decision || isLoaderView"><div id="spin-loader"></div></h1>
