<div class="containerAuth">
  <div  >
    <a  id="login-form-link" [class.active]="activeLinkLogin" (click)="changeActiveLogin()" tabindex="0"  style="display: block; ">LOGIN</a>
  </div>
    <div  >
      <a  id="register-form-link" [class.active]="activeLinkRegister" (click)="changeActiveRegister()" tabindex="1" style="display: block;" >REGISTER</a>
      <br>
  </div>
  <div id="login" *ngIf="activeLinkLogin" >
    <app-sign-in></app-sign-in>
  </div>
  <div id="register" *ngIf="activeLinkRegister" >
    <app-sign-up></app-sign-up>
  </div>
</div>
<!--<div class="containerAuth">
  <form class="specialContainer">
    <input id="signin" name="action" type="radio" value="signin">
    <label for="signin">Войти</label>
    <input id="signup" name="action" type="radio" value="signup">
    <label for="signup">Зарегистрироваться</label>
    <input id="reset" name="action" type="radio" value="reset">
    <label for="reset">Сбросить</label>
    <div id="wrapper">
      <div id="arrow"></div>
      <input id="email" placeholder="Email" type="text">
      <input id="pass" placeholder="Пароль" type="password">
      <input id="repass" placeholder="Повторите пароль" type="password">
    </div>
    <button type="submit"  (click)="userFunction()">
      <span>
        Сбросить пароль
        <br>
        Войти
        <br>
        Зарегистрироваться
      </span>
    </button>
  </form>
  <div id="hint">Click on the tabs</div>
</div>-->
