.mat-raised-button {
    margin: auto;
    display: flex;
    justify-content: center;
}

.mat-raised-button:hover {
    background-color: cyan;
}

.instruction-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.instruction-container h1 {
  margin: 0 auto;
}

.second-instruction-block pre,
.second-instruction-block p {
  width: 70%;
  font-family: "Courier New", monospace;
  font-size: 0.9em;
  margin-bottom: 0;
}
