<mat-toolbar color="primary">
  <header>
    <h1>Добавьте критерий:</h1>
  </header>
</mat-toolbar>
<div class="container">
  <div class="alt-wrapper">
<form class="example-form" (ngSubmit)="create(); criteriaForm.reset()" #criteriaForm="ngForm">
 
  <mat-input-container class="example-full-width">
    <input matInput name="title" (input)="clearCriteriaErrorMessage()" [(ngModel)]="newCriteriaName" placeholder="Название критерия">
  </mat-input-container>
  <div class="alert" style=" left: 50px;color: red">{{criteriaErrorMessage}}</div>
  <button class="button" type="submit">Добавить</button>
</form>

<mat-nav-list class="criteria-table" *ngIf="criteriaArray.length">
  <h3 mat-subheader>Список критериев</h3>
  <mat-list-item *ngFor="let criteria of criteriaArray; index as i">
    <h4 mat-line>Критерий {{i+1}}: {{criteria.name}}</h4> 
    <button mat-icon-button (click)="editCriteria(criteria)"><mat-icon>edit</mat-icon></button>
    <button mat-icon-button (click)="delete(criteria)"><mat-icon calss="exampple-icon">delete_forever</mat-icon></button>
  </mat-list-item>
</mat-nav-list>
</div>
  <div class="alt-btns">
<button class="button" (click)="goBack()">Вернуться назад</button>
<button class="button" type="submit" (click)="goNext()">Далее</button>
</div>
</div>
