<!--<mat-toolbar color="primary">
  <header>
    <h1>{{ title }}</h1>
  </header>
</mat-toolbar>
<div class="container">
  <div class="alt-wrapper">
  <form class="example-form" (ngSubmit)="create(); alternativeForm.reset();" #alternativeForm="ngForm">
    <p>Добавьте вариант:</p>
    <mat-input-container class="example-full-width">
      <input matInput name="nameAlternative" [(ngModel)]="newAlternativeName" placeholder="Название варианта" required>
    </mat-input-container>
    <button mat-button type="submit" [disabled]="alternativeForm.form.invalid">Добавить</button>

  </form>

  <mat-nav-list *ngIf="decision.alternativeArray.length">
    <h3 mat-subheader>Список вариантов</h3>
    <mat-list-item *ngFor="let alternative of decision.alternativeArray">
      <h4 mat-line>{{alternative.name}}</h4>
      <p mat-line>id: {{alternative.id}}</p>
      <button mat-icon-button (click)="editAlternative(alternative)"><mat-icon>edit</mat-icon></button>
      <button mat-icon-button (click)="delete(alternative)"><mat-icon calss="exampple-icon">delete_forever</mat-icon></button>
    </mat-list-item>
    <mat-divider></mat-divider>
  </mat-nav-list>
  </div>

  <div class="alt-btns">
    <button mat-raised-button (click)="goBack()">Вернуться назад</button>
    <button mat-raised-button type="submit" (click)="goNext()">Далее</button>
  </div>

</div>-->
<section id="one" class="wrapper style1 special">
  <div class="containersS">
    <header class="major">
      <h2>Создайте альтернативы</h2>
    </header>
  </div>
  <div class="specialContainer">
    <form class="example-form" (ngSubmit)="create(); alternativeForm.reset();" #alternativeForm="ngForm">
      <div class="row uniform 50%">
        <div class="6u(2) 12u$(3)">
          <ul class="actions vertical">
            <li>
              <header class="major"><p>Для сравнения нужно ввести минимум 2 альтернативы</p></header>
            </li>
            <li>
              <input type="text" class="input large" name="name" id="name" value="" [(ngModel)]="newAlternativeName"
                     placeholder="Название варианта альтернативы">
            </li>
            <li>
              <span class="alert" style="color: red">{{alternativeErrorMessage}}</span>
            </li>
            <li>
              <button class="button large" type="submit" [disabled]="!decision || isLoaderView" >Добавить</button>
            </li>
          </ul>
        </div>
      </div>
    </form>
    <div class="alternative-table" *ngIf="decision && decision?.alternativeArray && decision.alternativeArray.length>0">
      <header class="alternative-major"><p>Список созданных альтернатив</p></header>
      <div class="alternative-list" *ngFor="let alternative of decision.alternativeArray; index as i">
        <div class="alternative-list-name">Альтернатива {{i+1}}: {{alternative.name}}</div>
        <div class="alternative-actions">
          <button mat-icon-button [disabled]="isLoaderView" (click)="editAlternative(alternative)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button [disabled]="isLoaderView" (click)="delete(alternative)">
            <mat-icon calss="exampple-icon">delete_forever</mat-icon>
          </button>
        </div>
      </div>
      <mat-divider></mat-divider>
    </div>
    <div class="alternative-table-bar">
      <button class="button" [disabled]="!decision || isLoaderView" (click)="goBack()">Назад</button>
      <button class="button" type="submit" (click)="goNext()" [disabled]="!decision || isLoaderView" >Далее</button>
    </div>
  </div>
  <h1 *ngIf="!decision || isLoaderView"><div id="spin-loader"></div></h1>
</section>
