.line
{
    margin-left: 10% ;
}

ul.ctions.vertical {
    margin: auto;
}

div.row.uniform {
    display: flex;
    margin: auto;
}

div.row.uniform>div {
    display: flex;
    margin: auto;
}

.mat-raised-button {
    border-radius: 5px;
    width: 144px;
    margin-top: 10px;
}

.mat-raised-button:last-child {
    margin-left: 10px;
}


div.mat-list-item-content {
    display: flex;
    justify-content: center !important;
}

.alternative-table {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.alternative-table-bar .button {
  margin-left: 10px;
  margin-right: 10px;
}

.alternative-major {
  font-size: 25px;
  color: #474747;
  margin-bottom: 20px;
}

.alternative-list-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100px;
}

.alternative-list {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
